@using amazonbutnot.Models.ViewModels
@{
    ViewData["Title"] = "Orders Page";

    if (Model.PaginationInfo.CurrentPage == 0)
    {
        Model.PaginationInfo.CurrentPage = 1;
    }
}
<div class="container container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="banner text-center">
                Orders
            </div>
        </div>
    </div>

    <div class="table-responsive table-primary table-bordered">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Transaction ID</th>
                <th>Customer ID</th>
                <th>Date</th>
                <th>Hour</th>
                <th>Entry Mode</th>
                <th>Amount</th>
                <th>Country</th>
                <th>Bank</th>
                <th>Type of Card</th>
                <th>Fraud</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model.Orders)
            {
                <tr>
                    <td>@order.transaction_ID</td>
                    <td>@order.customer_ID</td>
                    <td>@order.date</td>
                    <td>@order.time</td>
                    <td>@order.entry_mode</td>
                    <td>$@order.amount</td>
                    <td>@order.country_of_transaction</td>
                    <td>@order.bank</td>
                    <td>@order.type_of_card</td>
                    <td>@order.fraud</td>
                </tr>
            }
        </tbody>
    </table>
</div>

    <!-- Pagination -->
    <div class="pagination justify-content-center">
        <div page-model="@Model.PaginationInfo" page-action="OrderReview" page-classes-enabled="true" page-class="btn"
                page-class-normal="btn-outline-dark" page-class-selected="btn-dark" class="btn-group m-1"></div>
    </div>
</div>
            

<style>
    .pagination {
        margin-top: 20px;
    }

        .pagination a {
            padding: 10px;
            margin: 5px;
            border: 1px solid #ddd;
            text-decoration: none;
            color: #007bff;
        }

            .pagination a.current-page {
                background-color: #007bff;
                color: white;
            }
</style>
