@model UserManagementViewModel

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<h2>Users</h2>
<table class="table">
    <tr>
        <th>Email</th>
        <th>Actions</th>
    </tr>
    @foreach (var user in Model.Users)
    {
        <tr>
            <td>@user.Email</td>
            <td>
                <a href="@Url.Action("EditUser", "Admin", new { userId = user.Id })" class="btn btn-primary">Edit</a>
                <a href="@Url.Action("DeleteConfirm", "Admin", new { userId = user.Id })" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }
</table>

<a class="btn btn-success" asp-area="Identity" asp-page="/Account/Register">Add New User</a>

<!-- Pagination -->
<div class="pagination justify-content-center mt-4">
    <div page-model="Model.Pagination" page-action="UserManagement" page-url-pageNum="@Model.Pagination.CurrentPage"
         page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-dark" class="btn-group m-1"></div>
</div>



<style>
    .pagination {
        margin-top: 20px;
    }

        .pagination a {
            padding: 10px;
            margin: 5px;
            border: 1px solid #ddd;
            text-decoration: none;
            color: #007bff;
        }

            .pagination a.current-page {
                background-color: #007bff;
                color: white;
            }
</style>
