@model ProductDetailsViewModel

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <img src="@Model.SelectedProduct.img_link" class="card-img-top" alt="@Model.SelectedProduct.name" style="height: 300px; object-fit: cover;">
                <div class="card-body">
                    <h1 class="card-title">@Model.SelectedProduct.name</h1>
                    <h3 class="text-black">$@Model.SelectedProduct.price</h3>
                    <p class="card-text">@Model.SelectedProduct.description</p>
                    <form method="post" asp-page="/Cart">
                        <input type="hidden" value="@Model.SelectedProduct.product_ID" name="product_ID" />
                        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                        <button type="submit" class="btn btn-primary">Add To Cart</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h2>Recommended Products</h2>
            <div class="row">
                @foreach (var product in Model.RecommendedProducts)
                {
                    <div class="col-md-4 mb-4">
                        <div class="card" style="width: 100%;">
                            <img src="@product.img_link" class="card-img-top" alt="@product.name" style="height: 200px; object-fit: cover;">
                            <div class="card-body">
                                <h4 class="card-title fs-5 single-line-ellipsis">@product.name</h4>
                                <h5 class="text-black text-left">$@product.price</h5>
                                    <a asp-action="ProductDetails" asp-controller="Home" asp-route-id="@product.product_ID" class="btn btn-subtle-gray">View Details</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>