@using amazonbutnot.Models.ViewModels
@{
    ViewData["Title"] = "Home Page";
}

@model Product

<html>
<head>
    <title>Product Details</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
</head>
<body>
@* <div class="container mt-5"> *@
    @* <div class="card" style="width: 100%;"> *@
    @*     $1$ <img src="@Model.img_Link" class="card-img-top" alt="@Model.name" style="height: 300px; object-fit: cover;"> #1# *@
    @*     <div class="card-body"> *@
    @*         $1$ <h1 class="card-title">@Model.name</h1> #1# *@
    @*         $1$ <h3 class="text-black">@Model.price</h3> #1# *@
    @*         $1$ <p class="card-text">@Model.description</p> #1# *@
    @*         $1$ <form method="post" asp-page="/Cart"> #1# *@
    @*         $1$     <input type="hidden" value="@Model.product_ID" name="product_ID" /> #1# *@
    @*         $1$     <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" /> #1# *@
    @*         $1$     <button type="submit" class="btn btn-primary">Add To Cart</button> #1# *@
    @*         </form> *@
    @*     </div> *@
@*     </div> *@
@* *@
@*     <!-- Recommended Products Section --> *@
@*     $1$ <div class="row mt-4"> #1# *@
@*     $1$     @foreach (var recProduct in new[] { Model.rec1, Model.rec2, Model.rec3 }) #1# *@
@*     $1$     { #1# *@
@*     $1$         <div class="col-md-4"> #1# *@
@*     $1$             <div class="card"> #1# *@
@*     $1$                 <img src="@recProduct.img_Link" class="card-img-top" alt="@recProduct.name" style="height: 200px; object-fit: cover;"> #1# *@
@*     $1$                 <div class="card-body"> #1# *@
@*     $1$                     <h5 class="card-title">@recProduct.name</h5> #1# *@
@*     $1$                     <p class="card-text">@recProduct.description</p> #1# *@
@*     $1$                     <a href="@recProduct.link" class="btn btn-primary">View Product</a> #1# *@
@*     $1$                 </div> #1# *@
@*     $1$             </div> #1# *@
@*     $1$         </div> #1# *@
@*     $1$     } #1# *@
@*     $1$ </div> #1# *@
@* </div> *@
</body>
</html>